.card {
  border: 1px solid rgb(21, 180, 132);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  width: 290px;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

.icon {
  margin-right: 8px;
}

.btn {
  border: none;
  color: white;
  background-color: #3f5efb;
  transition: background-color 0.3s ease;
  display: block;
  margin: auto;
  font-size: 14px;
  outline: none;
}

.btn:hover {
  background-color: #f0eded;
}

.operation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
