.wraper {
  display: flex;
  gap: 25px;
}

.navlink {
  font-size: 30px;
  text-decoration: none;
  color: #3f5efb;
  border-radius: 4px;
  display: inline-block;
  transform: scale(1);
  transition: all 0.3s ease;
}

.navlink:hover {
  transform: scale(1.1);
  color: #fc466b;
}

.navlink.active {
  color: #fc466b;
}
